<!DOCTYPE html>
<html>
<body>

<h1>IWS</h1>

<form action="/request_feature" method="post">
  <fieldset>
    <legend>Feature Request</legend>
    Title<br>
    <input type="text" name="title" required><br>
    Description<br>
    <textarea name="message" rows="10" cols="30" required></textarea><br>
    <br>
    Client:
    <select name="client">
      <option value="clientA">clientA</option>
      <option value="clientB">clientB</option>
      <option value="clientC">clientC</option>
    </select>
    <br>
    <br>
    Client Priority (a number between 1 and 10000)<br>
    <input type="number" name="priority" min="1" max="10000" required><br>
    <br>
    Target Date <br>
    <input type="date" name="tdate" required><br>
    <br>
    Product Area:
    <select name="parea">
      <option value="Policies">Policies</option>
      <option value="Billing">Billing</option>
      <option value="Claims">Claims</option>
      <option value="Reports">Reports</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">
  </fieldset>
</form>



</body>
</html>
